.header{
    font-size: 1.4rem;;
    height: 10rem;
    background-color: var(--color-white);
    border-bottom: .1rem solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem;
    }
}