.header{
    font-size: 1.4rem;;
    height: 10rem;
    background-color: var(--color-white);
    border-bottom: .1rem solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}